.container {
    text-align: center;
}

.jumbotron {
    text-align: center;
    margin: 30px 20px 30px 20px;
    border-radius: 10px;
}

#jumbotron-main {
    margin-top: 80px;
    background-image: url("images/background.jpeg");
    background-size: cover;
    color: #fff;
}

h1 {
    margin-bottom: 25px;
}
